*.txt
*.pdf
*.tmp
/local/

# don't ignore important .txt files
!requirements*
!LICENSE.txt
!LIONSIMBA001_t.txt

# running files
*.pyc
*.py~
.~lock*

# Python cache
*__pycache__/
*.cache
.ipynb_checkpoints/

# visualisation files
*.vtu
*.pvd
